@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body {
	font-family: 'Arvo', serif;
}

.navbar {
	background-color: #55b5ff;
	display: flex;
	padding: 30px;
	color: #fff;
	justify-content: space-between;
}

.nav-heading h2 {
	margin: 0;
	font-size: 30px;
	margin-left: 40px;
}

.nav-heading a {
	text-decoration: none;
	color: #fff;
}

.nav-links {
	margin-right: 30px;
	display: flex;
	justify-content: space-around;
}

.nav-links a {
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	color: #b4deff;
}

.nav-links a:hover {
	color: #fff;
}

.header-section {
	color: #fff;
	background-color: #4aabf5;
	text-align: center;
	overflow: hidden;
}

.header-section h1 {
	margin-top: 70px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 40px;
}

.header-section h3 {
	font-weight: normal;
	width: 55%;
	display: block;
	margin: 10px auto;
	margin-bottom: 40px;
}

.header-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.header-buttons a {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 30px 10px 30px;
	border-radius: 8px;
	color: #fff;
	background-color: #55b5ff;
}

.header-buttons a:hover {
	background-color: #66bdff;
}

.home-contents {
	display: flex;
	color: #8e8e8e;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 100px;
}

.popular-column {
	margin-right: 40px;
	width: 40%;
	text-align: center;
}

.column-heading {
	margin-bottom: 50px;
}

.column-heading h2 {
	margin-bottom: 0;
}

.column-heading h5 {
	margin-top: 5px;
	font-weight: normal;
}

.column-heading h2 span {
	color: #4aabf5;
}

.submit-column {
	margin-left: 40px;
	width: 20%;
	text-align: center;
}

.idea-card {
	display: flex;
	text-align: left;
	border-radius: 10px;
	padding-right: 35px;
	margin-bottom: 30px;
}

.shadow {
	-webkit-box-shadow: 12px 14px 60px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 12px 14px 60px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 12px 14px 60px 0px rgba(0, 0, 0, 0.16);
}

.upvote-column {
	text-align: center;
	padding-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.upvote-column button {
	background: none;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	color: #8e8e8e;
	outline: none;
}

.upvote-column p {
	margin-top: 8px;
	margin-bottom: 5px;
}

.idea-description {
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 30px;
}

.idea-title {
	margin-bottom: 10px;
	margin-top: 30px;
}

.author-and-date {
	font-size: 10px;
	margin-bottom: 30px;
}

.color-link {
	color: #4aabf5;
	text-decoration: underline;
	cursor: pointer;
}

.color-link:hover {
	color: #72bffa;
}

.submit-card {
	text-align: center;
	padding: 20px;
	font-size: 13px;
	border-radius: 10px;
	padding-right: 35px;
	margin-bottom: 30px;
}

.active {
	color: #fff !important;
}

.footer {
	background-color: #55b5ff;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.show-more {
	font-size: 15px;
}

.sort-selector {
	margin-bottom: 30px;
}

.sort-selector-label {
	margin-right: 10px;
	font-size: 13px;
}

.fake-submit-box-text {
	resize: none;
	width: 100%;
	padding: 10px;
	font-family: 'Arvo', Serif;
}

.universal-btn {
	background-color: #55b5ff;
	border: none;
	outline: none;
	color: #fff;
	padding: 5px 30px;
	border-radius: 25px;
	cursor: pointer;
}

.universal-btn:hover {
	background-color: #66bdff;
}

.submit-idea-btn {
	margin-top: 10px;
}
