@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body {
	font-family: 'Arvo', serif;
}

.navbar {
	background-color: #55b5ff;
	display: flex;
	padding: 30px;
	color: #fff;
	justify-content: space-between;
}

.nav-heading h2 {
	margin: 0;
	font-size: 30px;
	margin-left: 40px;
}

.nav-heading a {
	text-decoration: none;
	color: #fff;
}

.nav-links {
	margin-right: 30px;
	display: flex;
	justify-content: space-around;
}

.nav-links a {
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	color: #b4deff;
}

.nav-links a:hover {
	color: #fff;
}

.header-section {
	color: #fff;
	background-color: #4aabf5;
	text-align: center;
	overflow: hidden;
}

.header-section h1 {
	margin-top: 70px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.header-section h3 {
	font-weight: normal;
	width: 55%;
	display: block;
	margin: 10px auto;
	margin-bottom: 40px;
}

.header-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.header-buttons a {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 30px 10px 30px;
	border-radius: 8px;
	color: #fff;
	background-color: #55b5ff;
}

.header-buttons a:hover {
	background-color: #66bdff;
}
